script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/fullpage.js/vendors/scrolloverflow.min.js")
script(src="bower_components/fullpage.js/jquery.fullPage.js")
script(src="bower_components/jquery.typist/dist/jquery.typist.min.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/jquery.gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js")

script(src="js/common.js")