script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/fullpage.js/vendors/scrolloverflow.min.js")
script(src="bower_components/fullpage.js/jquery.fullPage.js")
script(src="js/common.js")