footer
	.container
		.row
			.col-xs-6
				ul.list-unstyled
					li
						a(href="#")
							img(src="/img/fb-ic.png", alt="alt")
					li
						a(href="#")
							img(src="/img/in-ic.png", alt="alt")
			.col-xs-6.t-R
				p 2016

script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/bootstrap/js/tab.js")
script(src="bower_components/page/page.js")
script(src="bower_components/handlebars/handlebars.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/jquery.gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js")

script(src="js/common.js")
