header.top-header
  .container
    .row
      .col-xs-4.logo
        p.name Igor Morev
        p.job Frontend developer
      .col-xs-8.navigation
        ul.list-unstyled.pull-right
          li.active
            a(href="#") projects
          li
            a(href="#") info
