header.top-header
  .container
    .row
      .col-xs-4
        .logo
           a(href="/")
            img(src="http://placehold.it/50x50")
      .col-xs-6
        ul.list-unstyled
          li 
            a(href="/projects") Проекты
          li 
            a(href="/contacts") Контакты