doctype html
html(lang="en")
head
    title Игорь Морев
    meta(charset="utf-8")

    link(href="css/main.css" rel="stylesheet")
    script(src="vendor/modernizr-custom.js")
    include ../mixins/mixins.pug