doctype html
html(lang="en")
head
    title Igor Morev | Frontend developer
    meta(charset="utf-8")

    link(href="css/main.css" rel="stylesheet")
    script(src="vendor/modernizr-custom.js")
    include ../mixins/tabs.pug
    include ../mixins/mixins.pug
