include ./inc/head.pug
body
  main
    .bg-overlay
    include ./inc/header.pug
    .main-page
      .projects
        .project
          .bg(style="background: url('/img/project-bg.jpg') no-repeat 50% 50%")
          .container
            .controls
              a(href="#").arrow-right.arrow
              a(href="#").arrow-left.arrow
            .dots
            .row
              .col-sm-offset-2.col-sm-7
                .preview
                  ul.project-nav.list-unstyled.tabs
                    li.tab
                      a(href="#") about
                    li.tab
                      a(href="#") technologies
                    li.tab
                      a(href="#") tasks
                    li.tab
                      a(href="#") resources
                  .tab-content
                    .tab-item
                      h1 CardPay Dashboard
                      .line
                      p CardPay offers excellent bank card e-payment conditions for online shopping. We provide
                        | extremely competitive and incredibly effective online payment services for your website on
                        | a 24-hour basis. Contact us and we’ll find the best solution for you.
                      .more
                    .tab-item
                      h2 Used technologies
                      ul
                        li HTML5, SASS, vanilla js
                        li HTML5, SASS, vanilla js
                    .tab-item
                      h2 tasks
                      ul
                        li HTML5, SASS, vanilla js
                        li HTML5, SASS, vanilla js
                    .tab-item
                      h2 resources
                      ul
                        li HTML5, SASS, vanilla js
                        li HTML5, SASS, vanilla js

    include ./inc/footer.pug
